/* General Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #47757a;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
    z-index: 1;
  }
  
  .card {
    z-index: 2; /* Ensure the card is above the overlay */
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgba(113, 113, 113, 0.6);
    backdrop-filter: blur(20px);
    text-align: center;
    border: 1px solid #fff;
    /* Transform Properties */
    --rotate-animation: rotate(45deg);
    --scale-animation: scale(0);
    /* Backgrounds - Social Media Hover */
    --bg-facebook: blue;
    --bg-instagram: linear-gradient(to right, #8a2387, #e94057, #f27121);
    --bg-twitter: rgb(25, 173, 206);
    --bg-linkedin: rgb(30, 48, 131);
  }
  
  .card::before {
    content: '';
    height: 110%;
    width: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
    z-index: -1;
    background: linear-gradient(
      to right,
      #0f0c29,
      #131034,
      #24243e
    );
    filter: blur(30px);
  }
  
  .card__hover {
    color: #fff;
    width: 100%;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    letter-spacing: 2px;
    pointer-events: none;
    transform: scale(1) translateY(-50%);
    font-family: 'Mulish', sans-serif;
    transition: transform 500ms;
  }
  
  .card:hover .card__hover {
    transform: scale(0);
  }
  
  .card__figure {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    transform: var(--rotate-animation) var(--scale-animation);
    transition: transform 600ms ease 100ms;
  }
  
  .card:hover .card__figure {
    --rotate-animation: rotate(0);
    --scale-animation: scale(1);
  }
  
  .card__figure svg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 2px #06031e);
  }
  
  .card__info {
    display: flex;
    flex-direction: column;
    transform: var(--scale-animation);
    transition: transform 600ms ease 100ms;
    align-items: center;
    gap: 10px;
  }
  
  .card:hover .card__info {
    --scale-animation: scale(1);
  }
  
  .start-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #1d571f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #28972e;
  }
  
  #nickname {
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .score-board {
    width: 100%;
  }
  
  .score-board-text {
    color: white;
  }

  .score-list {
    list-style-type: decimal;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
  }
  
  .score-list li {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: white;
  }
  